---
import Badge from "./icons/Badge.astro";
import medicalSysImage from '../assets/img/medical-system-img.png';
import dictsqlImage from '../assets/img/dictsql-img.png';

// Datos de proyectos para mantener el código limpio y fácil de editar
const PROJECTS = [
  {
    title: "Medical System",
    image: medicalSysImage,
    link: "https://github.com/PaulSigua/Medical-System",
    badges: [
      { text: "AI", color: "black" },
      { text: "Angular", color: "red" },
      { text: "Tailwind CSS", color: "orange" },
      { text: "TypeScript", color: "blue" },
      { text: "FastAPI", color: "green" },
      { text: "Python", color: "purple" },
    ],
    description: "Medical System es una aplicación pensada para apoyar a los profesionales de la salud utilizando <strong>Inteligencia Artificial</strong> para pre-diagnosticar el cáncer cerebral a través de la clasificación de imágenes médicas. La aplicación también ofrece la explicación de predicciones mediante mapas de calor y lenguaje natural (LLM)."
  },
  {
    title: "DictSQL",
    image: dictsqlImage,
    link: "https://github.com/PaulSigua/DictSQL",
    badges: [
      { text: "Angular", color: "red" },
      { text: "Python", color: "green" },
      { text: "Tailwind CSS", color: "purple" },
      { text: "FastAPI", color: "blue" },
    ],
    description: "DictSQL es una aplicación web diseñada para documentar y gestionar bases de datos SQL de manera eficiente. Permite a los usuarios explorar la estructura de la base de datos, visualizar tablas, columnas, relaciones y generar documentación automática. Facilita la comprensión y el mantenimiento de bases de datos complejas."
  }
]
---

<div class="w-full max-w-5xl mx-auto">
  <div class="pt-3 pb-6">
    <h1 class="flex gap-3 text-2xl font-bold items-center text-app">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="24"
        height="24"
        viewBox="0 0 24 24"
        fill="none"
        stroke="currentColor"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
        class="size-8 text-blue-500"
      >
        <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
        <path d="M7 8l-4 4l4 4"></path>
        <path d="M17 8l4 4l-4 4"></path>
        <path d="M14 4l-4 16"></path>
      </svg>
      Proyectos principales
    </h1>
  </div>

  <div class="flex flex-col gap-12">
    {PROJECTS.map((project) => (
      <a 
        href={project.link} 
        target="_blank" 
        class="group flex flex-col md:flex-row gap-6 p-4 rounded-2xl transition-all duration-300
               hover:bg-gray-100/50 dark:hover:bg-white/5 
               border border-transparent hover:border-gray-200 dark:hover:border-white/10 hover:shadow-xl hover:shadow-black/5"
      >
        
        <div class="w-full md:w-5/12 aspect-video overflow-hidden rounded-xl shadow-md border border-gray-200 dark:border-white/10 relative">
          <div class="absolute inset-0 bg-black/0 group-hover:bg-black/10 transition-colors z-10 duration-300"></div>
          <img 
            class="w-full h-full object-cover object-top transition-transform duration-500 ease-in-out group-hover:scale-105" 
            src={project.image.src} 
            alt={`Captura de pantalla de ${project.title}`}
          />
        </div>

        <div class="w-full md:w-7/12 flex flex-col justify-start">
            <div class="flex flex-row justify-between items-start mb-2">
                <h2 class="text-xl font-bold text-app group-hover:text-blue-500 transition-colors">
                  {project.title}
                </h2>
                <svg xmlns="http://www.w3.org/2000/svg" class="size-5 text-gray-400 -translate-x-2 opacity-0 group-hover:opacity-100 group-hover:translate-x-0 transition-all duration-300" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M17 7l-10 10" /><path d="M8 7l9 0l0 9" /></svg>
            </div>

            <div class="flex flex-wrap gap-2 mb-4">
              {project.badges.map((badge) => (
                <Badge color={badge.color}>{badge.text}</Badge>
              ))}
            </div>

            <p class="text-app-soft text-sm md:text-base leading-relaxed" set:html={project.description}>
            </p>
        </div>
      </a>
    ))}
  </div>
</div>