---
import Experience from "../../components/Experience.astro";
import Header from "../../components/Header.astro";
import Hero from "../../components/Hero.astro";
import Projects from "../../components/Projects.astro";
import SectionContainer from "../../components/SectionContainer.astro";
import Layout from "../../layouts/Layout.astro";
import "../../styles/global.css";

export function getStaticPaths() {
  return [{ params: { lang: "es" } }, { params: { lang: "ja" } }];
}

const { lang } = Astro.params as { lang: "es" | "ja" };
---

<Layout title="Paúl Sigua | Portfolio" language={lang}>
  <main class="bg-app text-app relative">
    <Header lang={lang} />

    <SectionContainer class="xl:pt-0">
      <section
        id="hero"
        class="pt-14 relative mx-auto w-full max-w-6xl px-6
               min-h-[100dvh] grid items-center"
      >
        <Hero lang={lang} />
      </section>

      <section
        id="experience"
        class="pt-24 relative mx-auto w-full max-w-6xl px-6
               min-h-[100dvh] grid items-center"
      >
        <Experience lang={lang} />
      </section>

      <section
        id="projects"
        class="pt-24 relative mx-auto w-full max-w-6xl px-6
               min-h-[100dvh] grid items-center"
      >
        <Projects lang={lang} />
      </section>
    </SectionContainer>
  </main>
</Layout>
